name: Test

on:
    pull_request:
        types: [opened, edited, synchronize, reopened]

jobs:
    test:
        runs-on: ubuntu-latest
        permissions:
            pull-requests: read
        steps:
            - name: Test
              id: test
              uses: actions/github-script@v7
              with:
                  script: |
                    const response = await github.rest.pulls.get({
                      owner: context.repo.owner,
                      repo: context.repo.repo,
                      pull_number: context.payload.pull_request.number
                    });

                    const pr = response.data;
                    const body = pr.body || "";

                    if(pr.body.includes("SHOULD FAIL")){
                      core.setFailed('SHOULD FAIL');
                    }
